<div class="d-flex flex-row">
    <h1 class="pageTitle col-sm-2">Registration</h1>
    <hr class="col-sm-9 titleLine" />
</div>
<div class="d-flex flex-row miniCardsContainer">
    <app-card-registration
    title="Need help?"
    label="Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua."
    icon="fa fa-life-ring fa-3x">
  </app-card-registration >

  <app-card-registration
    title="Why register?"
    label="Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua."
    icon="fa fa-heartbeat fa-3x">
  </app-card-registration >

  <app-card-registration
    title="Why register?"
    label="Lorem ipsum dolor sit amet, consectetur
    adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua."
    icon="fa fa-smile-o fa-3x">
  </app-card-registration >



  </div>
<app-new-user-registrator></app-new-user-registrator>
