<div class="dark-font bc-icons">
  <mdb-breadcrumb customClass="white-text pink lighten-4">
    <mdb-breadcrumb-item class="active">
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <mdb-breadcrumb customClass="white-text pink lighten-3">
    <mdb-breadcrumb-item>
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Library
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>

  <mdb-breadcrumb customClass="white-text pink lighten-2">
    <mdb-breadcrumb-item>
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Home
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item>
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Library
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
      <mdb-icon far icon="star" class="mr-1"></mdb-icon> Data
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>
