@import "../../../sass/styles.scss";
.myIcon {
  color: $base-color;
}
.myContainer {
  min-width: 210px;
  min-height: 120px;
}
.iconContainer {
  padding-right: 20px;;
}
.itemTitle {
padding-top: 15px;
margin-bottom: 0px;
}
