@import "../../../sass/styles.scss";
.miniCardsContainer{
  background-color: $light-color;
  margin-bottom: 20px;
  //height: 100%;
  //display: flex;
  //flex-direction: column;

}
.mainContainer{
  padding-top: 40px;
}
.pageTitle {
  font-weight: lighter!important;
  padding-left: 0;
}
.titleLine {
  margin-top: 2rem;
  margin-right: 0;
}
