
<hr />
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" >
                    </div>
                    <div class="col-sm-6">
                        <label >Ride in group?</label><br />
                        <form>
                        <div class="radio form-check-inline">
                            <label><input type="radio" name="optradio" >Always</label>
                          </div>
                          <div class="radio form-check-inline">
                            <label><input type="radio" name="optradio">Sometimes</label>
                          </div>
                          <div class="radio form-check-inline">
                            <label><input type="radio" name="optradio" >Never</label>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" id="inputEmail">
                    </div>

                    <div class="col-sm-6" id="daysCheck">
                        <label >Days of the week</label><br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Sun</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Mon</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Tue</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Wed</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Thu</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                              <label class="form-check-label" for="inlineCheckbox3">Fri</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">Sat</label>
                              </div>
                    </div>

                </div>
                <div>
                    <button type="button" class="btn btn-primary px-4 float-left">Save</button>
                    <button type="button" class="btn btn-secondary px-4 float-left discardButton">Discard</button>


                </div>

            </form>
        </div>
    </div>
</div>
